$font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-monospace: Menlo, Monaco, Consolas, "Ubuntu Mono", monospace;

$color-bg: rgb(228,228,228);
$color-fg: #ffffff;
$color-btn: #EC4C4D;
$icon-size: 48px;

$color-primary: black;
$color-info: $color-btn;
$color-warning: $color-btn;
$color-error: $color-btn;
